
body {
    margin: 0;
    font-family: 'Segoe UI', Verdana;
}

#main {
  position: relative;
  height: 100vh;
  width: 100%;
}

.navbar {
  top: 0;
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  /*animation: color-change 7s infinite;*/
}


@keyframes color-change {
  0% {background-color: #ffbf3ec0;}
  25% {background-color: #ff2151c0;}
  50% {background-color: #ffaa00c0;}
  75% {background-color: #cd28ffc0;}
  100% {background-color: #ffbf3ec0;}
}

.navbar-brand {
  font-weight: bold;
  color: rgb(240, 240, 240, 0.9);
  font-size: 130%;
  transition: 0.4s;
}

.navbar-brand:hover{
  text-shadow: 0px 0px 1rem #ffffff;
  font-size: 140%;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-right: 2rem;
  padding: 0;
}

.navbar-links li {
  margin-right: 10px;
}

.navbar-links li:last-child {
  margin-right: 0;
}

.navbar-links a {
  text-decoration: none;
  font-weight: bold;
  padding: 3px;
  padding-inline: 9px;
  transition: 0.2s ease-in;
  background-color: rgb(240, 240, 240, 0.9);;
  border-radius: 5px;
  mix-blend-mode: screen;
  color: #000;
  border: 2px solid rgb(240, 240, 240, 0.9);;
}

.navbar-links a:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px 1px rgb(240, 240, 240, 0.9),
              inset 0px 0px 10px 1px rgb(240, 240, 240, 0.9);
}

#header video {
  position: absolute;
  z-index: -99;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

#header .overlay {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: -1;
}

#header {
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(top, #f8873c, #f36f9b);
}

#heading {
  position: absolute;
  height: auto;
  width: 100%;
  top: 50%;
  transform: translateY(-60%);
  text-align: center;
}

#heading #head {
  font-family: 'MinecraftiaRegular';
  text-align: center;
  font-size: 4rem;
  color: white;
  letter-spacing: 5px;
  margin: 0;
  
}

#header #until {
  color: white;
}

#header #return {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(
      to right,
      #ffbf3e 0%,
      #ff2151 33%,
      #ffaa00 66%,
      #cd28ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: head-color-change 15s ease-in-out infinite alternate;
}

@keyframes head-color-change {
  0% {
    text-shadow: 0px 0px 1rem #ffbf3e;
    background-position: 0% 50%;}
  33% {
    text-shadow: 0px 0px 1rem #ff0d00;}
  66% {
    text-shadow: 0px 0px 1rem #ffaa00;}
  100% {
    text-shadow: 0px 0px 1rem #cd28ff;
    background-position: 100% 50%}
}

#header #revivan {
  position: absolute;
  font-weight: bold;
  color: white;
  overflow-x: hidden;
  animation: moveRight 7s linear infinite;
}

@keyframes moveRight {
  0% {
    transform: translate(-9rem, -2.3rem);
  }
  100% {
    transform: translate(110rem, -2.3rem);
  }
}
